## ETF란?
* ETF(상장지수펀드)는 기초지수의 성과를 추적하는 것이 목표인 인덱스펀드로, 거래소에 상장되어 있어서 개별주식과 마찬가지로 기존의 주식계좌를 통해 거래를 할 수 있습니다. 그 구성종목과 수량 등 자산구성내역(PDF)이 투명하게 공개되어 있고, 장중에는 실시간으로 순자산가치(NAV)가 제공되어 거래에 참고하실 수 있습니다. ETF는 1좌를 거래할 수 있는 최소한의 금액만으로 분산투자 효과를 누릴 수 있어 효율적인 투자수단이며, 펀드보다 운용보수가 낮고 주식에 적용되는 거래세도 붙지 않습니다. 
    * 출처 : [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn)


## 크롬 브라우저의 네트워크 정보를 통한 데이터 수집
* json 데이터 수집과 파일저장 방법

* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn)

In [ ]:
# 라이브러리를 불러옵니다.
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy, http 요청을 위한 requests를 받아옵니다.
import pandas as pd
import numpy as np
import requests

In [ ]:
# 수집할 url을 가져옵니다.
url = "https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc"
# url ="https://finance.naver.com/api/sise/etfItemList.nhn?etfType=2&targetColumn=market_sum&sortOrder=desc&_callback=window.__jindo2_callback._3452"

## Pandas를 통한 요청

In [ ]:
print(url)

https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc

In [ ]:
# pd.read_html(url)

## JSON 

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/JSON_vector_logo.svg/300px-JSON_vector_logo.svg.png" width="100">

JSON(제이슨, JavaScript Object Notation)은 속성-값 쌍( attribute–value pairs and array data types (or any other serializable value)) 또는 "키-값 쌍"으로 이루어진 데이터 오브젝트를 전달하기 위해 인간이 읽을 수 있는 텍스트를 사용하는 개방형 표준 포맷이다. 비동기 브라우저/서버 통신 (AJAX)을 위해, 넓게는 XML(AJAX가 사용)을 대체하는 주요 데이터 포맷이다. 특히, 인터넷에서 자료를 주고 받을 때 그 자료를 표현하는 방법으로 알려져 있다. 자료의 종류에 큰 제한은 없으며, 특히 컴퓨터 프로그램의 변수값을 표현하는 데 적합하다.
본래는 자바스크립트 언어로부터 파생되어 자바스크립트의 구문 형식을 따르지만 언어 독립형 데이터 포맷이다. 즉, 프로그래밍 언어나 플랫폼에 독립적이므로, 구문 분석 및 JSON 데이터 생성을 위한 코드는 C, C++, C#, 자바, 자바스크립트, 펄, 파이썬 등 수많은 프로그래밍 언어에서 쉽게 이용할 수 있다.

* 출처 : [JSON - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/JSON)

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)

In [ ]:
# requests 라이브러리를 통해 url을 받아옵니다.
response = requests.get(url)
response

In [ ]:
# response.text

### JSON 타입으로 데이터 받기

In [ ]:
# requests 의 응답을 json 타입으로 받습니다.
etf_json = response.json()

### JSON 에서 원하는 데이터 찾기

In [ ]:
# result > etfItemList 의 하위 구조로 목록을 찾고자 하는 데이터를 가져옵니다.
etfItemList = etf_json["result"]["etfItemList"]
etfItemList[0]

{'itemcode': '069500',
 'etfTabCode': 1,
 'itemname': 'KODEX 200',
 'nowVal': 34990,
 'risefall': '2',
 'changeVal': 5,
 'changeRate': 0.01,
 'nav': 35008.0,
 'threeMonthEarnRate': -4.7898,
 'quant': 1546905,
 'amonut': 54233,
 'marketSum': 50158}

## 데이터프레임 변환
### JSON 데이터를 pandas 의 데이터프레임 형태로 만들기

In [ ]:
# 키-값 형태의 데이터를 데이터프레임으로 만듭니다.
df = pd.DataFrame(etfItemList)
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34990,2,5,0.01,35008.0,-4.7898,1546905,54233,50158
1,371460,4,TIGER 차이나전기차SOLACTIVE,13720,5,-50,-0.36,13835.0,-10.4973,2481798,34234,34794
2,122630,3,KODEX 레버리지,18515,5,-10,-0.05,18565.0,-10.7229,10161235,189023,23116
3,133690,4,TIGER 미국나스닥100,67835,5,-370,-0.54,67266.0,-10.5943,134941,9176,19414
4,214980,6,KODEX 단기채권PLUS,103875,5,-10,-0.01,103883.0,0.2654,706,73,18968
...,...,...,...,...,...,...,...,...,...,...,...,...
560,295000,6,KBSTAR 국채선물10년,51115,2,120,0.24,51094.0,-3.4917,457,23,20
561,284990,2,KBSTAR 200에너지화학,11270,5,-125,-1.10,11302.0,1.4512,132,1,16
562,287330,2,KBSTAR 200생활소비재,6880,5,-5,-0.07,6895.0,-7.3227,5,0,12
563,287310,2,KBSTAR 200경기소비재,9850,5,-50,-0.51,9885.0,-0.9901,143,1,12
564,287320,2,KBSTAR 200산업재,12080,2,40,0.33,12098.0,9.9041,32,0,7

### 데이터 확인

In [ ]:
# 데이터 프레임으로 잘 만들어 졌는지 상단 데이터의 일부만 미리보기 합니다.
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34990,2,5,0.01,35008.0,-4.7898,1546905,54233,50158
1,371460,4,TIGER 차이나전기차SOLACTIVE,13720,5,-50,-0.36,13835.0,-10.4973,2481798,34234,34794
2,122630,3,KODEX 레버리지,18515,5,-10,-0.05,18565.0,-10.7229,10161235,189023,23116
3,133690,4,TIGER 미국나스닥100,67835,5,-370,-0.54,67266.0,-10.5943,134941,9176,19414
4,214980,6,KODEX 단기채권PLUS,103875,5,-10,-0.01,103883.0,0.2654,706,73,18968

In [ ]:
# 데이터 프레임으로 잘 만들어 졌는지 하단 데이터의 일부만 미리보기 합니다.
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
560,295000,6,KBSTAR 국채선물10년,51115,2,120,0.24,51094.0,-3.4917,457,23,20
561,284990,2,KBSTAR 200에너지화학,11270,5,-125,-1.10,11302.0,1.4512,132,1,16
562,287330,2,KBSTAR 200생활소비재,6880,5,-5,-0.07,6895.0,-7.3227,5,0,12
563,287310,2,KBSTAR 200경기소비재,9850,5,-50,-0.51,9885.0,-0.9901,143,1,12
564,287320,2,KBSTAR 200산업재,12080,2,40,0.33,12098.0,9.9041,32,0,7

## 파일 저장
### 파일명 만들기

In [ ]:
# 파이썬 표준라이브러리인 datetime을 불러옵니다.
# 날짜를 만들어 저장하기 위해 오늘 날짜를 구합니다.
from datetime import datetime

today = datetime.today().strftime("%Y-%m-%d")
today

'2022-05-23'

In [ ]:
# f-string 방식으로 파일명을 만들어 줍니다.
# eft_날짜_raw.csv 형태로 만듭니다.
file_name = f"eft_{today}_raw.csv"
file_name

'eft_2022-05-23_raw.csv'

### 파일로 저장하고 불러오기

In [ ]:
# csv 형태로 저장합니다. index 가 저장되지 않도록 합니다.
df.to_csv(file_name, index=False)

In [ ]:
# 저장된 csv 파일을 읽어옵니다.
# itemcode 숫자 앞의 0 이 지워진다면 dtype={"itemcode": np.object} 로 타입을 지정해 주면 문자형태로 읽어옵니다.
pd.read_csv(file_name, dtype={"itemcode": "object"})

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34990,2,5,0.01,35008.0,-4.7898,1546905,54233,50158
1,371460,4,TIGER 차이나전기차SOLACTIVE,13720,5,-50,-0.36,13835.0,-10.4973,2481798,34234,34794
2,122630,3,KODEX 레버리지,18515,5,-10,-0.05,18565.0,-10.7229,10161235,189023,23116
3,133690,4,TIGER 미국나스닥100,67835,5,-370,-0.54,67266.0,-10.5943,134941,9176,19414
4,214980,6,KODEX 단기채권PLUS,103875,5,-10,-0.01,103883.0,0.2654,706,73,18968
...,...,...,...,...,...,...,...,...,...,...,...,...
560,295000,6,KBSTAR 국채선물10년,51115,2,120,0.24,51094.0,-3.4917,457,23,20
561,284990,2,KBSTAR 200에너지화학,11270,5,-125,-1.10,11302.0,1.4512,132,1,16
562,287330,2,KBSTAR 200생활소비재,6880,5,-5,-0.07,6895.0,-7.3227,5,0,12
563,287310,2,KBSTAR 200경기소비재,9850,5,-50,-0.51,9885.0,-0.9901,143,1,12
564,287320,2,KBSTAR 200산업재,12080,2,40,0.33,12098.0,9.9041,32,0,7